[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==1.3.13"
Django = "==2.1.2"
graphene-django = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
